@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

/* Nav Bar */
header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

header nav .header_links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header nav .header_links ul li, section.main ul li {
    list-style-type: none;
}

header nav .header_links ul li a {
    outline: none;
    text-decoration: none;
    color: #a6a8b8;
    padding: 5px 12px;
    transition: 0.3s all;
    font-size: 15px;
}

header nav .header_links ul li a:hover {
    color: white;
}

header nav .header_logo span {
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    object-fit: cover;
    border: 1px solid #fff;
    cursor: pointer;
   
   }

/* Responsive nav bar */

@media only screen and (max-width: 630px) {
    header nav {
        display: flex;
        flex-direction: column;
    }
    header nav .header_logo {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    header nav .header_links ul {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Main */

section.main {
    display: flex;      /* Need to change as per requirement */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 70vh;

}

section.main ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section.main ul li a:hover {
    transition: 0.2s all;
    color: #fff;
}

footer nav {
    display: flex;
    flex-direction: row;
    height:100px;   /* Height of the footer */
    background-color: #16161a;
    border: 1px solid #fff;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

footer nav .footer_links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer nav .footer_links ul li, section.main ul li {
    list-style-type: none;
}

footer nav .footer_links ul li a {
    outline: none;
    text-decoration: none;
    color: #a6a8b8;
    padding: 5px 12px;
    font-size: 15px;
}

footer nav .footer_links ul li a:hover {
    color: white;
}

footer nav .footer_copyright span {
    display: flex;
    flex-direction: row;
    object-fit: cover;
    cursor: pointer;
}